# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
tfplan
# OS/editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
